<!DOCTYPE  html>
<html>
<head>
    <title>Sign up | Bloggg</title>    
</head>

<body>
    <div class="header">Bloggg!</div>
    <div class="container">
        <div class="resultbox">
            <p><h2>Successfully created your account!</h2></p>
            <p><h3>Start blogging! <a href="/login">Log-in.</a></h3></p>
        </div>
    </div>

    <div class="footer">
		Bloggg. A micro-blogging site. Ima Balles
	</div>
</body>
</html>
